#editor-container {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    height: 600px;
    width: 100%;
}

.node rect,
.node ellipse {
    stroke: darkorange;
    fill: lightyellow;
    stroke-width: 2px;
}
.node text {
    line-height: 10px;
    font-size: 15px;
    font-family: Arial, sans-serif;
    display: block;
    fill: black;
}
.edgePath path {
    stroke: darkorange;
    stroke-width: 2px;
    fill: none;
}
